<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head %>
        <title></title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>

<body>

    <header>
        <% include ../../../partials/header %>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- 2단길이의 첫번째 열 -->
            <div class="col-md-2">
                <% include ../../../partials/mside %>
            </div>

            <!-- 10단길이의 첫번째 열 -->
            <div class="col-md-10">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-header">
                                기본 알림
                                <!-- <small> 챌린지 관리 Sub제목</small> -->
                            </h1>
                        </div>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="panel-body" style="padding-top:0px;padding-bottom:15px;">
                            <div class="table-responsive dataTables_wrapper form-inline">
                                <table class="table table-bordered  table-condensed table-hover  text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center"></th>
                                            <th class="text-center">알림명</th>
                                            <th class="text-center">알림 조건</th>
                                            <th class="text-center">문구</th>
                                            <th class="text-center" width="300">관리</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="text-center">
                                                <img class="bi x0 y0 w0 h0" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAIAAABvFaqvAAAACXBIWXMAABYlAAAWJQFJUiTwAAABG0lEQVQ4y61VIbaFIBCd94+LIJoNJKuNTbAJ9sAadAt0C82mkUSwYjbbCPMC/3i+PD/q/9wIZ+5h7r0zvBARPrAsyzzPxphxHIdhAADGWNM0dV1XVVWW5WcJ4BHeeyEEJCGE8N5HhQciay0hBG6AEGKtPSeSUsJDSCljImst/An7uyDocrOj0x6DXoCIl+peao+I4Jx7WqaUig6dc6C1vs/CGPtu5Ait9Zcx5r4cfd8XRdF1XXRljAHG2CODpmk6felJAefcex/FSimFiOu6PvA3uPAzouHEe08pTemXiKyUklIaBOacp0h+m4yda9s2RGzbNj0rKft3rlOBI/svAhnidymwcy7fiOQc2mxrJOdiy7lq/7n8X7m+ozeNRJ+4FGOOLgAAAABJRU5ErkJggg=="/>
                                            </th>
                                            <th class="text-center">챌린지 상품 배송 안내</th>
                                            <th class="text-center">챌린지에 성공하여 배송지까지 입력하였을 경우</th>
                                            <th class="text-center">플리닉 보상 알림 챌린지 성공을 축하드립니다.</th>
                                            <th class="text-center">
                                                <div class="row justify-content-center">
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                        사용
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                                        <label class="form-check-label" for="flexRadioDefault2">
                                                        미사용
                                                        </label>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>



                                        <tr>
                                            <th class="text-center">
                                                <img class="bi x0 y0 w0 h0" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAIAAABvFaqvAAAACXBIWXMAABYlAAAWJQFJUiTwAAABG0lEQVQ4y61VIbaFIBCd94+LIJoNJKuNTbAJ9sAadAt0C82mkUSwYjbbCPMC/3i+PD/q/9wIZ+5h7r0zvBARPrAsyzzPxphxHIdhAADGWNM0dV1XVVWW5WcJ4BHeeyEEJCGE8N5HhQciay0hBG6AEGKtPSeSUsJDSCljImst/An7uyDocrOj0x6DXoCIl+peao+I4Jx7WqaUig6dc6C1vs/CGPtu5Ait9Zcx5r4cfd8XRdF1XXRljAHG2CODpmk6felJAefcex/FSimFiOu6PvA3uPAzouHEe08pTemXiKyUklIaBOacp0h+m4yda9s2RGzbNj0rKft3rlOBI/svAhnidymwcy7fiOQc2mxrJOdiy7lq/7n8X7m+ozeNRJ+4FGOOLgAAAABJRU5ErkJggg=="/>
                                            </th>
                                            <th class="text-center">챌린지 성공 상품 배송지 미입력</th>
                                            <th class="text-center">챌린지에 성공하였으나 배송지가 미입력일 경우</th>
                                            <th class="text-center">챌린지에 성공 상품이 배송될 예정입니다. 배송지를 입력해주세요~!</th>
                                            <th class="text-center">
                                                <div class="row justify-content-center">
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3">
                                                        <label class="form-check-label" for="flexRadioDefault3">
                                                        사용
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault4" checked>
                                                        <label class="form-check-label" for="flexRadioDefault4">
                                                        미사용
                                                        </label>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">
                                                <img class="bi x0 y0 w1 h1" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAIAAABvSEP3AAAACXBIWXMAABYlAAAWJQFJUiTwAAABSUlEQVQ4y53VMaqDMBwG8K8PN6cOAY/gQcQjCF16g3bxABKPIO6C4NKtSzt0jQVXL6CjZNZJ4f+G9Im8Z2vyvikq388EYtwREf6Vtm0ZY7ZtA7AADMNwvV4/d4IgsCxrvozjOIoix3HqumaMoe97nTfXdU0/EULM9x3HkVJaahac8+Px+I6wbZsxpsa32833fc55FEUAuq57PB4oigJA0zSkEc45AM/zxnFcjg0UVVNR5aIoxnEkIl1lSahwzuenWspfQs3FQNkkthUdYkPZJIQQUspPitZCgMPhQERfq9tMbfBfxP1+X34Ey6woaZoaESvKNE2n08mIWFGqqjIlVpTL5WJKrChJkgA4n89CCE3idUotI6Xc7/ea5bfKfI4Y5bWiPM9Nm2VZAnBdF4Duifkufd8T0Y6IhmHIsuz5fBr1XdcNw1D9A74BsrDp0lz1KkUAAAAASUVORK5CYII="/>
                                            </th>
                                            <th class="text-center">댓글 알림</th>
                                            <th class="text-center">사용자가 작성한 글에 댓글이 달리거나 댓글에 대댓글이 달렸을 경우(모든 페이지 해당)</th>
                                            <th class="text-center">1.누가 내 글에 댓글을 달았어요 확인하러가요~ 2. 내 댓글에 공감 댓글이 달렸어요 확인해볼까요?</th>
                                            <th class="text-center">
                                                <div class="row justify-content-center">
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault5">
                                                        <label class="form-check-label" for="flexRadioDefault5">
                                                        사용
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault6" checked>
                                                        <label class="form-check-label" for="flexRadioDefault6">
                                                        미사용
                                                        </label>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">
                                                <img class="bi x0 y0 w0 h0" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAIAAABvFaqvAAAACXBIWXMAABYlAAAWJQFJUiTwAAABaUlEQVQ4y61VIa7DMAz1qh7CYGC4oCi0LDtELtE7pGA3KhtLYJBBaAp2hLJMygeWqi5Lu2m/D0W1n+Pn2O4ppQRvmKbJe++cM8bc73cAkFJ2XSeEaJrmcrm8UyC9IsbY9/1iRUSllFIKEZePfd/HGDPiSyAiYoLWmojmeV5b53kmIq01X0BE5UCLRwgh7SKEsNyXByIiAFBKvedcRIxRKQUAS17AXxGxbdstzlb0tm0Rka2QUuLqZprXktcSsppy7VNKEEJgUUXXcRz5pcZxLDqwwBBC5b0HgNvtBj+Bid77yjkHAOfzuejXNE12yMBE51xljEHEuq5/y6iua0Q0xsBOgfjJmLDTFlym6uOF2WETUkpE3Ok9a621dscBEaWUwJPxZUNvaddaV0IIAHg8HlspD8NwvV6fz2fRykQhxIeGtNYyYau5l4b8akSklEXtLyPycWjZ4auhPWyNHLnYjly1/1z+p6N+R39aKfpdKrdwYwAAAABJRU5ErkJggg=="/>
                                            </th>
                                            <th class="text-center">공지사항</th>
                                            <th class="text-center">새로운 공지사항이 등록되었을 때 (발송되는 알림없이 알림함에만 노출)</th>
                                            <th class="text-center">새롭게 추가된 플리닉 공지를 확인해보세요.</th>
                                            <th class="text-center">
                                                <div class="row justify-content-center">
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault7">
                                                        <label class="form-check-label" for="flexRadioDefault7">
                                                        사용
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault8" checked>
                                                        <label class="form-check-label" for="flexRadioDefault8">
                                                        미사용
                                                        </label>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">
                                                <img class="bi x0 y0 w0 h0" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAIAAABvFaqvAAAACXBIWXMAABYlAAAWJQFJUiTwAAABaUlEQVQ4y61VIa7DMAz1qh7CYGC4oCi0LDtELtE7pGA3KhtLYJBBaAp2hLJMygeWqi5Lu2m/D0W1n+Pn2O4ppQRvmKbJe++cM8bc73cAkFJ2XSeEaJrmcrm8UyC9IsbY9/1iRUSllFIKEZePfd/HGDPiSyAiYoLWmojmeV5b53kmIq01X0BE5UCLRwgh7SKEsNyXByIiAFBKvedcRIxRKQUAS17AXxGxbdstzlb0tm0Rka2QUuLqZprXktcSsppy7VNKEEJgUUXXcRz5pcZxLDqwwBBC5b0HgNvtBj+Bid77yjkHAOfzuejXNE12yMBE51xljEHEuq5/y6iua0Q0xsBOgfjJmLDTFlym6uOF2WETUkpE3Ok9a621dscBEaWUwJPxZUNvaddaV0IIAHg8HlspD8NwvV6fz2fRykQhxIeGtNYyYau5l4b8akSklEXtLyPycWjZ4auhPWyNHLnYjly1/1z+p6N+R39aKfpdKrdwYwAAAABJRU5ErkJggg=="/>
                                            </th>
                                            <th class="text-center">정책변경 안내</th>
                                            <th class="text-center">정책변경이 있을 때 (발송되는 알림없이 알림함에만 노출)</th>
                                            <th class="text-center">2021년 03월 08일부로 플리닉 @@정책이 변경됨을 안내드립니다.</th>
                                            <th class="text-center">
                                                <div class="row justify-content-center">
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault9">
                                                        <label class="form-check-label" for="flexRadioDefault9">
                                                        사용
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault10" checked>
                                                        <label class="form-check-label" for="flexRadioDefault10">
                                                        미사용
                                                        </label>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">
                                                <img class="bi x0 y0 w0 h0" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAIAAABvFaqvAAAACXBIWXMAABYlAAAWJQFJUiTwAAABuElEQVQ4y82UMYvqQBSFz743nYgaCExnCiuL/ADFbhCipSCYwt7CysLSX5DGsbMQBAttbLRQUob8gNHedogQIqRLYLcILOE9fetmLd7XzR3mMOfeM4P3FEIISmkYhu9fwRjjnKcrBEAcx8fjMQiC3W4npbQsq1Kp4J/Ytu15nqIoxWKx2WwSQiCEwI8RQvwOguB8Pv9QKAgC/He8AWCMzefzzBLL5XIymRAAqqpqmpZZKBnxr1dZI3erSbIKhUK9XgdwvV7X67Xv+4PBQFXVh2K9Xi+d0cvlouv6Zz0MQwCUUsYYgP1+/0fKV6vV/Ru5rjsej33fd10XwGKxoJQKIUqlkmEYh8Oh1Wr9fepOj0zTNE1TUZRk6ft+enez2dy19XWz+/2+lFLXdcMwbNuWUsZxnEVI0zTHcbrdbqPRcBxH13VCyLNTS3M6nW63m2VZhJDZbNbpdL4x/jT5fL7dbjPGqtXqdDp99Fs8FCqXy7VaLbEmhNhutwDCMMzlcs/m6LskOXrZE3mZECilABzHyebL8zxKKaX0jXM+HA4BcM4/0/w8o9FISsk5RxRFnPPkXtkMcc6jKPoAkix5gzlHaE8AAAAASUVORK5CYII="/>
                                            </th>
                                            <th class="text-center">출석체크 안내</th>
                                            <th class="text-center">미 접속기록이 5일 이상일 경우</th>
                                            <th class="text-center">플리닉에 접속할 시간이에요</th>
                                            <th class="text-center">
                                                <div class="row justify-content-center">
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault11">
                                                        <label class="form-check-label" for="flexRadioDefault11">
                                                        사용
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault12" checked>
                                                        <label class="form-check-label" for="flexRadioDefault12">
                                                        미사용
                                                        </label>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">
                                                <img class="bi x0 y0 w1 h0" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAYCAIAAABx3JocAAAACXBIWXMAABYlAAAWJQFJUiTwAAAA6klEQVQ4y+2UPW6EMBCFX1ahckOD5JIT+BQuucCUFLS+gzkCLbXFWWjnAjQcwd0gZYuJ0P5klWXTRfsqazTvG3skP3w90LIsMUZrrbU2xsjMjzpxXxIR7z0AAM4555yevfci8hQihKCGfTIzKzSE8DtCRHRmzvmynnPW+v1FTrjWuq4AiMgYc1k3xhDR3nClG2RKCcCPy2NmACml24eo52UR0ee+7aqqjvqnaQLwjRjHsa7r1xAn/FlvxBvxvxFlWQLoum7btkPOvu8BNE3zISJFUeh/b9v2Sf88z8MwaA5C40hD7WjYaLidAV21N4qxxIngAAAAAElFTkSuQmCC"/>
                                            </th>
                                            <th class="text-center">상품종료 안내</th>
                                            <th class="text-center">1. 매주 금요일 저녁 18시 상품종료 알림 발송 2. 매주 일요일 오후 14시 상품종료 알림 발송</th>
                                            <th class="text-center">1. 딜 종료 2일 전! 서두르세요! 2. 놀치면 땅을 치고 후회할 그 제품! 오늘 마감합니다. 서두르세요.</th>
                                            <th class="text-center">
                                                <div class="row justify-content-center">
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault13">
                                                        <label class="form-check-label" for="flexRadioDefault13">
                                                        사용
                                                        </label>
                                                    </div>
                                                    <div class="col-4">
                                                        <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault14" checked>
                                                        <label class="form-check-label" for="flexRadioDefault14">
                                                        미사용
                                                        </label>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="text-center">
                                <button type="submit" class="w-15 m-1 btn btn-info btn-sm">저장하기</button>
                            </div>
                        </div>
                    </form>
                
                </div>
            </div>
        </div>
    </div>




</body>
<script src="/js/custom-scripts.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#members").addClass("active");

        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    });
</script>

</html>