<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../../../partials/head %>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>

<body>

  <header>
    <% include ../../../../partials/header %>
  </header>


  <div class="container-fluid">
    <div class="row">
      <!-- 2단길이의 첫번째 열 -->
      <div class="col-md-2">
        <% include ../../../../partials/pside %>
      </div>

      <!-- 10단길이의 첫번째 열 -->
      <div class="col-md-10">
        <div id="page-inner">
          <div class="row">
            <div class="col-md-12">
              <h1 class="page-header">
                상품 상세페이지
              </h1>
            </div>
          </div>

          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="form-group row">
                  <label class="col-sm-1 text-center control-label" for="name">기본 정보</label>
                  <div class="col-sm-11 controls">
                  </div>
                </div>
                <table class="table-hover">
                  <thead>
                    <tr class="text-center">
                      <th scioe="col">대표 이미지</th>
                      <th scioe="col">상품 이미지</th>
                      <th scope="col" width=700>상품명</th>
                      <th scope="col">소비자가</th>
                      <th scope="col">용량 및 중량</th>
                      <th scope="col">주요 효능</th>
                      <th scope="col">전성분</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td><img style="max-width:120px;"
                          src="https://plinic.s3.ap-northeast-2.amazonaws.com/" class="img-thumbnail" alt="..."></td>
                      <td class="text-center"></td>
                      <td>원</td>
                      <td>0원</td>
                      <td>개</td>
                      <td>원</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>


                <table class="table-bordered table table-striped table-hover">
                  <tr>
                    <th class="text-center" style="padding-top: 12px;">제조사</th>
                      <td>
                          
                      </td>
                    <th class="text-center" style="padding-top: 12px;">원산지</th>
                      <td>

                      </td>
                    <th class="text-center" style="padding-top: 12px;">상품 주문코드</th>
                      <td>
                        
                      </td>
                    <th class="text-center" style="padding-top: 12px;">단종 정보</th>
                      <td>
                        
                      </td>
                  </tr>
                  <tr>
                    <th class="text-center" style="padding-top: 12px;">상품 카테고리(대분류)</th>
                      <td>

                      </td>
                    <th class="text-center" style="padding-top: 12px;">상품 카테고리(소분류)</th>
                      <td>

                      </td>
                    <th class="text-center" style="padding-top: 12px;">추천 노출위치</th>
                      <td>

                      </td>
                    <th class="text-center" style="padding-top: 12px;">상품 페이지 노출</th>
                      <td>
                        
                      </td>
                  </tr>
              </table>

                



                <table class="table-bordered table table-striped table-hover">
                  <tr>
                    <th class="text-center" width=300>결제 수단</th>
                    <td colspan="3" class="text-left"></td>
                  </tr>
                  <tr>
                    <th class="text-center" width=300>입금 계좌</th>
                    <td class="text-left"></td>
                    <th class="text-center" width=300>입금자명</th>
                    <td class="text-left"></td>
                  </tr>
                </table>

                    <button type="reset" class="w-15 m-1 btn btn-secondary btn-sm"
                        onclick="location.href='/product/'">목록</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</body>
<script src="/js/custom-scripts.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>

  $(document).ready(function () {
    $(".active").removeClass("active");
    $("#product").addClass("active");
    $("#forms-collapse3").addClass('show');

    $('.btn-number').click(function (e) {
      e.preventDefault();

      fieldName = $(this).attr('data-field');
      type = $(this).attr('data-type');
      var input = $("input[name='" + fieldName + "']");
      var currentVal = parseInt(input.val());
      if (!isNaN(currentVal)) {
        if (type == 'minus') {

          if (currentVal > input.attr('min')) {
            input.val(currentVal - 1).change();
          }
          if (parseInt(input.val()) == input.attr('min')) {
            $(this).attr('disabled', true);
          }

        } else if (type == 'plus') {

          if (currentVal < input.attr('max')) {
            input.val(currentVal + 1).change();
          }
          if (parseInt(input.val()) == input.attr('max')) {
            $(this).attr('disabled', true);
          }

        }
      } else {
        input.val(0);
      }
    });
    $('.input-number').focusin(function () {
      $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function () {

      minValue = parseInt($(this).attr('min'));
      maxValue = parseInt($(this).attr('max'));
      valueCurrent = parseInt($(this).val());

      name = $(this).attr('name');
      if (valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
      } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
      }
      if (valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
      } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
      }


    });
    $(".input-number").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
        // Allow: Ctrl+A
        (e.keyCode == 65 && e.ctrlKey === true) ||
        // Allow: home, end, left, right
        (e.keyCode >= 35 && e.keyCode <= 39)) {
        // let it happen, don't do anything
        return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
      }
    });

  });
</script>

</html>