<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../../partials/head %>
        <title></title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#contents").addClass("active");
        $("#forms-collapse2").addClass('show');
    });
</script>

<body>

    <header>
        <% include ../../../../partials/header %>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- 2단길이의 첫번째 열 -->
            <div class="col-md-2">
                <!-- 사이드 메뉴 시작 -->
                <% include ../../../../partials/side %>
                    <!-- 사이드 메뉴 종료 -->
            </div>


            <!-- 10단길이의 첫번째 열 -->
            <div class="col-md-10">
                <div id="page-inner">
                    <!-- /. ROW  -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    FAQ 내용보기
                                </div>
                                <br>
                                <form action="/faqComments/faqCreate" method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label class="col-sm-2 text-center control-label" for="name">제목</label>
                                        <div class="col-sm-10 controls">
                                            <input name="post[title]" id="name" class="form-control"
                                                data-validate="data" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 text-center control-label" for="name">카테고리</label>
                                        <div class="col-sm-10 controls">
                                            <select class="form-select" name="post[category]" aria-label="Default select example" required>
                                                <option value="[계정]">[계정]</option>
                                                <option value="[챌린지]">[챌린지]</option>
                                                <option value="[포인트]">[포인트]</option>
                                                <option value="[플리닉]">[플리닉]</option>
                                                <option value="[이벤트]">[이벤트]</option>
                                                <option value="[상품]">[상품]</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 text-center control-label" for="name">이름</label>
                                        <div class="col-sm-10 controls">
                                            <input disabled type="text" value="<%= user.nickname %>">
                                        </div>
                                    </div>

                                    

                                    <div class="form-group row">
                                        <label class="col-sm-2 text-center control-label" for="name">본문</label>
                                        <div class="col-sm-10 controls">
                                            <textarea class="form-control" id="floatingTextarea2" name="post[body]"
                                                style="width: 1065px; height: 200px;" required></textarea>
                                        </div>
                                    </div>

                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button type="submit" class="w-15 m-1 btn btn-dark btn-sm">저장하기</button>
                                        <button type="reset" class="w-15 m-1 btn btn-danger btn-sm"
                                        onclick="location.href='/faqComments/'">취소</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>

<script src="/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="/js/custom-scripts.js"></script>

</html>