<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../../../partials/head %>
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
<script>
  $(document).ready(function () {
    $(".active").removeClass("active");
    $("#contents").addClass("active");
  });
</script>
<title>Hello, world!</title>

<body>

  <header>
    <% include ../../../../partials/header %>
  </header>


  <div class="container-fluid">
    <div class="row">
      <!-- 2단길이의 첫번째 열 -->
      <div class="col-md-2">
        <!-- 사이드 메뉴 시작 -->
        <% include ../../../../partials/side %>
          <!-- 사이드 메뉴 종료 -->
      </div>


      <!-- 10단길이의 첫번째 열 -->
      <div class="col-md-10">
        <div id="page-inner">
          <!-- /. ROW  -->
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  내용보기
                </div>
                <br>
                <button type="button" class="w-15 m-1 btn btn-success btn-sm"
                  onclick="location.href='skinqnaComments/Comments/SkinQna/edit'">수정</button>
                <button type="button" class="w-15 m-1 btn btn-success btn-sm"
                  onclick="location.href='/skinqnaComments/Comments/SkinQna/new'">담변</button>
                <form>
                  <button type="button" class="w-15 m-1 btn btn-danger btn-sm">삭제</button>
                </form>
                <button type="button" class="w-15 m-1 btn btn-primary btn-sm"
                  onclick="location.href='/skinqnaComments/Comments/SkinQna'">목록으로</button>

                <table class="table-bordered table table-striped table-hover">
                  <tr>
                    <th class="text-center">제목</th>
                    <td colspan="3" class="text-left">국민일보 살해 암매장 50대 용의자, 졸고 있던 경찰 탓에 유치장서 숨져</td>
                  </tr>
                  <tr>
                    <th class="text-center">이름</th>
                    <td class="text-left">efjeifweiokk</td>
                    <th class="text-center" width="250">작성일</th>
                    <td width="400" class="text-left">
                      2018-12-28 17:44:45
                    </td>
                  </tr>
                  <tr>
                    <th class="col-2" style="text-align: center;">IP주소</th>
                    <td class="text-left" class="text-left">121.161.30.211</td>
                    <th class="text-center" width="250"></th>
                    <td width="400" class="text-left"></td>
                  </tr>
                  <tr>
                    <th class="col-2" style="text-align: center;">첨부파일</th>
                    <td colspan="3" class="text-left">없음</td>
                  </tr>
                </table>

                <div class="comments">
                  <h8>댓글 </h8>

                  <div class="comment">
                    <div class="top">
                      <b>작성자</b>


                    </div>
                    <div class="body">내용</div>
                  </div>


                  <div>이름 관리자</div>
                  <form action="" method="post">
                    <textarea class="cvRequired" type="text" name="comment[body]" cvRqErrMsg="comments is empty."
                      cvRqErrTo="#cvErrTitle"></textarea>
                    <button type="submit">저장</button>
                    <div id="cvErrTitle" class="message"></div>
                  </form>
                </div>




                <button type="submit" class="w-15 m-1 btn btn-primary btn btn-primary btn-sm">저장</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</body>

<script src="/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="/js/custom-scripts.js"></script>

</html>