<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../../partials/head %>
        <title></title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>

<body>

    <header>
        <% include ../../../partials/header %>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- 2단길이의 첫번째 열 -->
            <div class="col-md-2">
                <% include ../../../partials/mside %>
            </div>

            <!-- 10단길이의 첫번째 열 -->
            <div class="col-md-10">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-header">
                                회원 리스트
                                <!-- <small> 챌린지 관리 Sub제목</small> -->
                            </h1>
                        </div>
                    </div>

                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form method="" action="">
                                <table class="table-bordered table table-striped table-hover">
                                    <tr>
                                        <th class="text-center" style="padding-top: 20px;">검색 조건</th>
                                        <td colspan="3">
                                            <div class="row g-4 align-self-center">
                                                <div class="col-2">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>회원 아이디</option>
                                                        <option value="1">회원 이름</option>
                                                        <option value="2">회원 전화번호</option>
                                                    </select>
                                                </div>
                                                <div class="col-5">
                                                    <input name="s_od_name" class="form-control" type="text" value>
                                                </div>
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div class="justify-content-center">
                                                <button class="btn btn-info" style="margin-top: 31px;"
                                                    type="button">검색</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-center" style="padding-top: 15px;">가입 기간</th>
                                        <td colspan="3">
                                            <div class="row g-4 align-self-center">
                                                <div class="col-1">
                                                    <a href="#" class="btn btn-default btn-sm">전체</a>
                                                    <a href="#" class="btn btn-default btn-sm">1주일</a>
                                                    <a href="#" class="btn btn-default btn-sm">1개월</a>
                                                </div>
                                                <div class="col-4">
                                                    <input type="date" id="date" style="height:25px;">
                                                </div>
                                                <div class="col-1">
                                                    ~
                                                </div>
                                                <div class="col-2">
                                                    <input type="date" id="date" style="height:25px;">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <div class="accordion-body">
                                    <div class="row g-4 align-items-left">
                                        <div class="col-2" no-margin>
                                            전체목록 | 전체 회원수<span>123명</span>
                                        </div>
                                        <div class="col-10">
                                            <button type="button" class="btn btn-success btn-sm">Excel Download</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body" style="padding-top:0px;padding-bottom:15px;">
                                    <div class="table-responsive dataTables_wrapper form-inline">
                                        <table class="table table-bordered  table-condensed table-hover  text-center">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"><input class="form-check-input"
                                                            type="checkbox" value="" id="flexCheckDisabled" disabled>
                                                    </th>
                                                    <th class="text-center">아이디(이메일)</th>
                                                    <th class="text-center">닉네임</th>
                                                    <th class="text-center">연락처</th>
                                                    <th class="text-center">가입일</th>
                                                    <th class="text-center">관리</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDisabled" disabled></td>
                                                    <td class="text-center">김나무</td>
                                                    <td>iamgroot@gmail.com</td>
                                                    <td>010-1234-7894</td>
                                                    <td>2020-03-15</td>
                                                    <td class="center">
                                                        <div class="d-grid gap-2 d-md-block">
                                                            <button class="btn btn-primary" type="button"
                                                                onclick="location.href='/members/MemberMgt/show'">보기</button>
                                                            <form>
                                                                <button class="btn btn-primary btn btn-danger"
                                                                    type="button">탈퇴</button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-auto me-auto"></div>
                            <div class="col-auto">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-sm">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
<script src="/js/custom-scripts.js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".active").removeClass("active");
        $("#members").addClass("active");
        $("#forms-collapse1").addClass('show');

        $('.btn-number').click(function (e) {
            e.preventDefault();

            fieldName = $(this).attr('data-field');
            type = $(this).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(this).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(this).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        });
        $('.input-number').focusin(function () {
            $(this).data('oldValue', $(this).val());
        });
        $('.input-number').change(function () {

            minValue = parseInt($(this).attr('min'));
            maxValue = parseInt($(this).attr('max'));
            valueCurrent = parseInt($(this).val());

            name = $(this).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(this).val($(this).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(this).val($(this).data('oldValue'));
            }


        });
        $(".input-number").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    });
</script>

</html>