<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="posts">
    <% include partials/top %>
    <!-- main start-->

    <!-- views/commubeauty/index.ejs -->
    <div class="new">
      <div class="buttons">
        <button onclick="location.href='/commubeauty'">Back</button>
      </div>
      <h3>뷰티 팁 관리</h3>
      <form class="checkValidation" action="/commubeauty" method="post" enctype="multipart/form-data">
        <div class="inputs">
          <div class="floats">
            <label>에디터 추천</label>
            <div class="checkbox" style="margin-left: -225px;">
            <input type="checkbox" name="post[editor]"  value="true">
            </div>
            <!-- <div id="cvErrTitle" class="message"></div> -->
          </div>
          <div class="floats">
            <label>뷰티팁 분류</label>
            <input class="cvRequired" type="text" name="post[title]" cvRqErrMsg="제목을 입력 주세요." cvRqErrTo="#cvErrTitle" value="">
            <div id="cvErrTitle" class="message"></div>
          </div>
          <div class="floats">
            <label>Author</label>
            <input disabled type="text" value="<%= user.nickname %>">
          </div>
          <div class="floats">
            <label>뷰티팁 제목</label>
            <textarea class="cvRequired" name="post[body]" cvRqErrMsg="뷰티팁 설명이 필요 합니다." cvRqErrTo="#cvErrBody"></textarea>
            <div id="cvErrBody" class="message"></div>
          </div>
          <div class="floats">
            <label>뷰티팁 내용</label>
            <textarea class="cvRequired" name="post[midtext]" cvRqErrMsg="뷰티팁 중간 내용이 필요 합니다." cvRqErrTo="#cvErrBody"></textarea>
            <div id="cvErrBody" class="message"></div>
          </div>
          <div class="floats">
            <label>뷰티 URL</label>
            <input class="cvRequired" type="text" name="post[posturl]" cvRqErrMsg="뷰티 보조 미션 제목을 입력해주세요." cvRqErrTo="#cvErrBody" value="">
            <div id="cvErrTitle" class="message"></div>
          </div>
          <div class="floats">
            <label>뷰티팁 이미지</label>
            <input class="cvRequired" type="file" name="image" cvRqErrMsg="뷰티팁 이미지를 꼭 참조해주세요." cvRqErrTo="#cvErrBody" accept=".jpg, .jpeg, .png">
            <div id="cvErrTitle" class="message"></div>
          </div>
          <h2 style="color: red" >미션 제품 이미지 사이즈(px) : 300 X 300</h2>

          <!-- <h3>뷰티 보조 설명</h3> -->

          <!-- <div class="floats">
            <label>뷰티 보조 미션명</label>
            <input class="cvRequired" type="text" name="post[missonsubtitle]" cvRqErrMsg="뷰티 보조 미션명을 입력해주세요." cvRqErrTo="#cvErrBody" value="">
            <div id="cvErrTitle" class="message"></div>
          </div>
          <div class="floats">
            <label>뷰티 상품명</label>
            <input class="cvRequired" type="text" name="post[product]" cvRqErrMsg="뷰티 상품명을 입력해주세요." cvRqErrTo="#cvErrBody" value="">
            <div id="cvErrTitle" class="message"></div>
          </div>
          <div class="floats">
            <label>뷰티 팁 종료일</label>
            <input class="cvRequired" type="date" name="post[endmission]" cvRqErrMsg="뷰티 팁 종료일 선택 필수" cvRqErrTo="#cvErrBody" value="">
            <div id="cvErrTitle" class="message"></div>
          </div> -->
          <!-- <div class="floats">
            <label>뷰티 제품 이미지</label>
            <input class="cvRequired" type="file" name="prodimage" cvRqErrMsg="뷰티 제품 이미지 필수로 등록 해 주세요" cvRqErrTo="#cvErrBody" accept=".jpg, .jpeg, .png">
            <div id="cvErrTitle" class="message"></div>
          </div> -->
        </div>
        <div class="buttons">
          <button type="submit">저장</button>
        </div>
      </form>
    </div>

    <!-- main end -->
  </div>
  <!--commubeauty end -->
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>
