<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-0" aria-label="Fifth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">관리자 모드</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExample05"
        aria-controls="navbarsExample05"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      
    </div>
  </nav>
<!-- <h1><a href="/menus">G1Partners Plinic</a></h1> -->
