<!-- 사이드 메뉴 시작 -->
<aside class="bd-aside sticky-xl-top text-muted align-self-start mb-3 mb-xl-5 px-2">
        <!-- <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">On this page</h2> -->
        <nav class="small" id="toc">
            <ul class="list-unstyled">
                <li class="my-2">
                    <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse"
                        aria-expanded="false" data-bs-target="#forms-collapse1"
                        aria-controls="forms-collapse">고객 관리</button>
                    <ul class="list-unstyled ps-3 collapse" id="forms-collapse1">
                        <li><a id="postmgt" class="d-inline-flex align-items-center rounded" href="/members/MemberMgt">회원 리스트</a></li>
                    </ul>
                </li>
                <!-- <li class="my-2">
                    <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse"
                        aria-expanded="false" data-bs-target="#forms-collapse2"
                        aria-controls="forms-collapse">기본 알림</button>
                    <ul class="list-unstyled ps-3 collapse" id="forms-collapse2">
                        <li><a id="postmgt" class="d-inline-flex align-items-center rounded" href="/alarm/alarmMgt">기본 알림</a></li>
                        <li><a class="d-inline-flex align-items-center rounded" href="/paymentWebs/PaymentWeb/PaymentWeb-Register">상품 등록</a></li>
                    </ul>
                </li> -->
                <li class="my-2">
                    <a class="btn align-items-center collapsed2"
                    href="/alarm/Alarm">기본 알림</a>
                </li>
                <li class="my-2">
                    <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse"
                        aria-expanded="false" data-bs-target="#forms-collapse3"
                        aria-controls="forms-collapse">그룹/개별 알림</button>
                    <ul class="list-unstyled ps-3 collapse" id="forms-collapse3">
                        <li><a id="postmgt" class="d-inline-flex align-items-center rounded" href="/alarmSetting/AlarmSetting-Mgt">그룹/개별 알림</a></li>
                    </ul>
                </li>
                <li class="my-2">
                    <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse"
                        aria-expanded="false" data-bs-target="#forms-collapse4"
                        aria-controls="forms-collapse">그룹 관리</button>
                    <ul class="list-unstyled ps-3 collapse" id="forms-collapse4">
                        <li><a id="postmgt" class="d-inline-flex align-items-center rounded" href="/groups/GroupMgt">그룹 관리</a></li>
                    </ul>
                </li>
                <li class="my-2">
                    <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse"
                        aria-expanded="false" data-bs-target="#forms-collapse5"
                        aria-controls="forms-collapse">포인트 설정</button>
                    <ul class="list-unstyled ps-3 collapse" id="forms-collapse5">
                        <li><a id="postmgt" class="d-inline-flex align-items-center rounded" href="/paymentWebs/PaymentWeb/PaymentWeb-List">상품 목록</a></li>
                        <li><a class="d-inline-flex align-items-center rounded" href="/paymentWebs/PaymentWeb/PaymentWeb-Register">상품 등록</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- 사이드 메뉴 종료 -->