<!-- 사이드 메뉴 시작 -->
<aside class="bd-aside sticky-xl-top text-muted align-self-start mb-3 mb-xl-5 px-2">
        <!-- <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">On this page</h2> -->
        <nav class="small" id="toc">
            <ul class="list-unstyled">
                <li class="my-2">
                        <a class="btn align-items-center collapsed"
                        href="/contents/Challenge">챌린지</a>
                </li>
                <li class="my-2">
                    <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse"
                        aria-expanded="false" data-bs-target="#forms-collapse1"
                        aria-controls="forms-collapse">뷰티팁</button>
                    <ul class="list-unstyled ps-3 collapse" id="forms-collapse1">
                        <li><a id="postmgt" class="d-inline-flex align-items-center rounded" href="/contents/BeautyTip/PostMgt">포스트관리</a></li>
                        <li><a class="d-inline-flex align-items-center rounded" href="/contents/BeautyTip/PostDisplay">포스트진열관리</a></li>
                        <li><a class="d-inline-flex align-items-center rounded" href="/contents/BeautyTip/MovieMgt">영상 관리</a></li>
                        <li><a class="d-inline-flex align-items-center rounded" href="/contents/BeautyTip/MovieDisplay">영상 진열 관리</a></li>
                    </ul>
                </li>
                <li class="my-2">
                    <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse"
                        aria-expanded="false" data-bs-target="#forms-collapse2"
                        aria-controls="forms-collapse2">게시판 댓글</button>
                    <ul class="list-unstyled ps-3 collapse" id="forms-collapse2">
                        <li><a class="d-inline-flex align-items-center rounded" href="/contents/Comments/ChallengeComment">챌린지 댓글</a></li>
                        <li><a class="d-inline-flex align-items-center rounded" href="/contents/Comments/MovieComment">영상 댓글</a></li>
                        <li><a class="d-inline-flex align-items-center rounded" href="/contents/Comments/SkinQna">피부고민 게시판</a></li>
                        <li><a class="d-inline-flex align-items-center rounded" href="/contents/Comments/Notice">공지사항 게시판</a></li>
                        <li><a class="d-inline-flex align-items-center rounded" href="/contents/Comments/Faq">FAQ 게시판</a></li>
                        <li><a class="d-inline-flex align-items-center rounded" href="/contents/Comments/Answer">문의하기 게시판</a></li>
                    </ul>
                </li>
                <li class="my-2">
                        <a class="btn align-items-center collapsed"
                        href="/contents/HomePopup">홈 팝업</a>
                </li>
                <li class="my-2">
                        <a class="btn align-items-center collapsed"
                        href="/contents/ADBanner">광고배너</a>
                </li>
            </ul>
        </nav>
    </aside>
    <!-- 사이드 메뉴 종료 -->