<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/loginHeader %>
  </header>
  <div class="users">

    <body>
      <div class="new">
        <div class="row p-0">
          <h1 class="h3 mb-3 fw-normal p-0">SIGN UP</h1>
          <input placeholder="이메일" class="cvRequired rounded-0 form-control mb-1" type="text" name="user[email]"
            cvRqErrMsg="이메일이 정확하지 않습니다." cvRqErrTo="#cvErrEmail">
          <div id="cvErrEmail" class="message"><%= //emailError?emailError:"" %></div>
          <button class="w-100 h-120 btn btn-sm btn-primary rounded-0" type="submit">이메일 주소 보내기</button>
        </div>
        </form>
      </div>
    </body>
  </div>
  <footer>
    <% //include ../partials/footer %>
  </footer>
</body>

</html>